<div class="modal" id="config-modal" style="display:none">
    <div class="body">
        <div class="content">
        </div>
    </div>
    <div class="footer">
        <div class="buttons right">
            <button type="button" class="btn submit js-save">{{ 'Save'|t('app') }}</button>
        </div>
    </div>
</div>